<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="style.css">
    <title>項目首頁</title>
</head>
<body>
    <div id="app">
        <header>
            <div class="wrapper-header">
                <div class="top">
                    <h1>通識用項目</h1>
                    <a href="#top" :class="{active:now=='課堂實作'}" @click="now='課堂實作'">課堂實作</a>
                </div>
                <div class="bottom">
                    <a href="#top" :class="{active:now=='自主學習'}" @click="now='自主學習'" >自主學習</a>
                    <a href="#top" :class="{active:now=='全部展示'}" @click="now='全部展示'" >全部展示</a>
                </div>
            </div>
        </header>
        <div class="state" id="top">
            {{now}}
        </div>
        <article>
            <div class="wrapper-index" v-for="(i,index) in data" :key='index' v-show="now==i.catgolery||now=='全部展示'">
                <div class="card" v-for="(y,index) in i.info" :key='index'>
                    <a :href="y.href" target="_blank"><img :src="y.img" alt=""></a>
                    <div class="info">
                        <p class="title">{{y.title}}</p>
                        <p class="subtitle">{{y.subtitle}}</p>
                        <a :href="y.href" target="_blank">項目地址:&nbsp;<i class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>
            <a href="#top"><i class="bi bi-triangle-fill"></i></a>
        </article>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./index.js"></script>
</body>
</html>