*{
    font-size: 1.3em;
    font-family: Source Han Sans TW;
    color: #333;
    font-weight: bolder;
    margin: 0px;
    text-decoration: none;
}
html,body{
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
header{
    font-size: 2em;
    margin-bottom: .5em;
}
a:hover{
    font-size: 1.35em;
}
.home{
    list-style-type:none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
}