*{
    margin: 0px;
    padding: 0px;
    font-family: Source Han Sans TW;
    color: #333;
    transition: all .1s;
}
html,body{
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
}
body{
    background-color: #fcfcfc;
}
#app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    header{
        width: 100%;
        height: 100%;
        background-image: url(./back.svg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .wrapper-header{
        padding: 2% 5%;
    }
    .top,.bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .wrapper-header h1{
        font-size: 7.75rem;
    }
    .wrapper-header a,.bottom a{
        font-size: 5rem;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
    }
    .bottom{
        margin-top: 15rem;
    }
    .state{
        width: 70%;
        text-align: center;
        font-size: 5rem;
        margin-top: 5rem;
        margin-bottom: 5rem;
        border-bottom: solid .18rem #333;
        padding: 2% 2%;
    }
    article{
        text-align: center;
    }
        article i{
            cursor: pointer;
            font-size: 4rem;
            margin-top: -4rem;
        }
        .card{
            text-align: left;
            width: 100%;
            display: flex;
            align-items: center;
            margin-top: 3rem;
            margin-bottom: 15%;
            padding: 5% 5%;
            border-radius: .3em;
            box-shadow: 0em 0em .2em .2em rgba(51, 51, 51, 0.2);
        }
        .card img{
            transition: all .25s;
            width: 400px;
            margin-right: 3rem;
            cursor: pointer;
            opacity: .7;
            border-radius: .3em;
            box-shadow: 0em 0em .2em .3em rgba(51, 51, 51, 0.4);
        }
        .card img:hover{
            opacity: 1;
            width: 420px;
        }
        .card .num{
            font-size: 1rem;
        }
        .card .title{
            font-size: 2.75rem;
        }
        .card .subtitle{
            font-size: 2rem;
        }
            .info a{
                font-size: 2rem;
                text-decoration: none;
            }
            .info i{
                font-size: 2rem;
                text-decoration: none;
            }

.active{
    color: #fff;
    background-color: #333;
    border-radius: .3em;
    padding: .4% .4%;
}

@media screen and (max-width: 1700px){
    .bottom{
        margin-top: 12rem;
    }
    .wrapper-header h1{
        font-size: 5rem;
    }
    .wrapper-header a,.bottom a{
        font-size: 3rem;
    }
}
@media screen and (max-width: 1300px){
    .bottom{
        margin-top: 8rem;
    }
}
