*{
    margin: 0px;
}
body,html{
    width: 100%;
    height: 100%;
}
#app{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    font-family: SimSun;
    color: #333;
}
    .back{
        background-color: #FFFDF8;
        position: absolute;
        left: 0px;
        width: 100%;
        height: 600px;
    }
    .toptitle{
        display: flex;
        align-items: center;
        font-size: 60px;
        position: absolute;
        top: 1em;
        left: 5em;
        justify-content: center;
        animation-name: fadein ;
        animation-duration: 1s;
    }
        .circle{
            width: 200px;
            height: 200px;
            background-color: #f9e0e0;
            border-radius: 99%;
            opacity: 0.4;
            left: -1em;
            position: absolute;
        }
    .subtitle{
        display: flex;
        flex-direction: column;
        position: absolute;
        line-height: 3em;
        top: 11em;
        left: 10em;
        font-size: 30px;
        font-family: Source HanSerif TC;
        animation-name: fadein ;
        animation-duration: 1s;
    }
    .logo{
        position: absolute;
        top: 2.25em;
        left: 7.3em;
        font-size: 110px;
        writing-mode: vertical-lr;
        animation-name: fadein ;
        animation-duration: 2.5s;
    }
    .bar{
        position: absolute;
        width: 3px;
        height: 200px;
        top: -1.8em;
        left: .55em;
        background-image: url(../imgs/bar.svg);
        background-size: cover;
    }
    header img{
        width: 32%;
        height: 383px;
        opacity: 0.4;
        position: absolute;
        top: 11em;
        right: 8em;
        animation-name: imgfadein ;
        animation-duration: 1s;
    }
.intro{
    margin-top: 22em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 1% 1%;
    font-size: 30px;
    margin-bottom: 2em;
    font-family: Source HanSerif TC;
    animation-name: fadein ;
    animation-duration: 2.5s;
}
.title{
    display: flex;
    align-items: center;
    font-size: 40px;
    font-family: SimSun;
}
.title h2{
    font-size: 60px;
    font-weight:400;
}
.wrapper{
    background-color: #FFFCFC;
    width: 1200px;
    padding: 5% 3%;
    margin-bottom: 7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation-name: imgfadein ;
    animation-duration: 1s;
    box-shadow: 0px 0px .7em .1em rgba(51, 51, 51, 0.2);
}
    .topWrapper{
        display: flex;
    }
    .bottomWrapper{
        width: 95%;
        display: flex;
        justify-content: space-around;
        font-family: Source Han Sans TW;
        font-size: 20px;
        font-weight: 500;
        margin-top: 2em;
    }
    .text{
        writing-mode: vertical-lr;
        font-family: Source Han Sans TW;
        font-size: 30px;
        font-weight: 900;
        line-height: 2.7em;  
    }
    .topWrapper img{
        width: 600px;
        opacity: 0.4;
        animation-name: imgfadein ;
        animation-duration: 2.5s;
    }
    .topWrapper img:hover{
        transition: all .25s;
        width: 610px;
        cursor: pointer;
    }
    .pbanner{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 255px;
        background-color: #333;
        font-size: 30px;
        font-weight: 900;
        margin-left: 20em;
        margin-top: 4.5em;
        height: 171px;
        font-family: Source Han Sans TW;
        color: #fff;
        align-items: flex-start;
        padding: 0% 1%;
        justify-content: center;
    }
    .pbannerLeft{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 255px;
        background-color: #333;
        font-size: 30px;
        font-weight: 900;
        margin-left: -2em;
        margin-top: 7.2em;
        height: 171px;
        font-family: Source Han Sans TW;
        color: #fff;
        align-items: flex-start;
        padding: 0% 1%;
        justify-content: center;
    }

@keyframes fadein {
    from {
        opacity: 0;
        
    }

    to {
        opacity: 1;
    }
}

@keyframes imgfadein {
    from {
        opacity: 0;
        
    }

    to {
        opacity: .4;
    }
}



@media screen and (max-width: 1700px){
    .toptitle{
        font-size: 60px;
        top: 1em;
        left: 1.5em;
        justify-content: center;
    }
        .circle{
            width: 200px;
            height: 200px;
            left: -1em;
        }
    .subtitle{
        line-height: 3em;
        top: 8em;
        left: 3em;
        font-size: 30px;
    }
    .logo{
        top: 2.25em;
        left: 4em;
        font-size: 110px;
    }
    header img{
        width: 45%;
        height: 340px;
        right: 5.2em;
    }

    .wrapper{
        width: 100%;
    }
        .bottomWrapper{
            width: 95%;
            font-size: 17px;
        }
        .text{
            font-size: 27px;
            font-weight: 900;
            line-height: 2.7em;  
        }
        .topWrapper img{
            width: 500px;
            opacity: 0.4;
        }
        .topWrapper img:hover{
            width: 510px;
        }
        .pbanner{
            width: 200px;
            font-size: 27px;
            font-weight: 900;
            margin-left: 20em;
            margin-top: 5em;
            height: 140px;
        }
        .pbannerLeft{
            width: 200px;
            font-size: 27px;
            font-weight: 900;
            margin-left: -1em;
            margin-top: 7em;
            height: 140px;
        }
}

@media screen and (max-width: 480px){
    .back{
        height: 200px;
    }
    .toptitle{
        font-size: 20px;
        top: 7em;
        left: 12.5em;
        justify-content: center;
    }
        .circle{
            width: 80px;
            height: 80px;
            left: -8.7em;
            top: -7em;
        }
    .subtitle{
        line-height: 3em;
        top: 10em;
        left: 9em;
        font-size: 10px;
    }
    .bar{
        height: 40px;
        top: -1.25em;
    }
    .logo{
        top: 1.75em;
        left: 4.3em;
        font-size: 40px;
    }
    header img{
        top: 2.25em;
        right: 8em;
        width: 41%;
        height: 129px;
    }


    .intro{
        margin-top: 24em;
        font-size: 10px;
        margin-bottom: 4em;
    }
    .title{
        font-size: 18px;
    }
    .title h2{
        font-size: 25px;
    }


    .wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px 0px;
    }
        .bottomWrapper{
            width: 95%;
            display: flex;
            flex-direction: column;
            font-size: .2px;
        }
        .text{
            font-size: 10px;
            font-weight: 900;
            line-height: 2.7em;  
        }
        .topWrapper{
            display: flex;
        }
        .text{
            position: absolute;
            writing-mode: horizontal-tb;
            background-color: #333;
            color: #fff;
            padding: 2% 2%;
            margin-top: 23em;
            margin-left: 13em;
            box-shadow: .3em .3em .2em .3em rgba(51, 51, 51, 0.2);
        }
        .topWrapper img{
            border-radius: .3em;
            margin-bottom: .5em;
            border: inset .2em #333;
            width: 150px;
            opacity: 0.4;
        }
        .topWrapper img:hover{
            width: 150px;
        }
        .pbanner{
            display: none;
        }
        .pbannerLeft{
            width: 50px;
            font-size: 10px;
            margin-left: -1em;
            margin-top: 7em;
            height: 140px;
            display: none;
        }
}