*{
    margin: 0px;
}
body,html{
    width: 100%;
    height: 100%;
}
#app{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
header{
    background-size:contain;
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 3em;
    color: #fff;
    text-shadow: #333 .1em .1em .6em;
}
    header h1{
        font-size: 5em;
        margin-bottom: .5em;
    }
    header h2{
        font-size: 2em;
    }
footer{
    background-color: #878787;
    padding: 1% 1%;
    color: #fff;
    font-size: .7em;
}